
/*!
*
* Template: Datum - Responsive Bootstrap 4 Admin Dashboard Template
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for responsive Template.
*
*/
// Bootstrap Function and Mixines and Variables
@import "./bootstrap/functions";
@import "./bootstrap/mixins";

// Helper Function and Mixines and Variables
@import "./variable";
@import "./helper/functions";
@import "./helper/mixins";

@import "./bootstrap/variables";
@import "./bootstrap/root";
@import "./helper/fonts";

// Bootstrap components
@import "./bootstrap/reboot";
@import "./bootstrap/type";
@import "./bootstrap/images";
@import "./bootstrap/code";
@import "./bootstrap/grid";
@import "./bootstrap/forms";
@import "./bootstrap/transitions";
@import "./bootstrap/dropdown";
@import "./bootstrap/button-group";
@import "./bootstrap/nav";
@import "./bootstrap/navbar";
@import "./bootstrap/utilities";

@import "./components/buttons";
@import "./components/card";

@import "plugins/wow-animate";

@import "./backend/pages/page-content/common-css";
@import "./intro_componants/slider";
@import "./intro_componants/sections";
@import "./intro_componants/navbar";
@import "./intro_componants/footer";